<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>414012607327-3r3n3d35fg35bplv2h72bba7352u88fc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414012607327-3r3n3d35fg35bplv2h72bba7352u88fc</string>
	<key>API_KEY</key>
	<string>AIzaSyD2sW-dgbWCQ3We-F7TLDdv3nhGYHfjQew</string>
	<key>GCM_SENDER_ID</key>
	<string>414012607327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wsf-lp.iOritsubushi</string>
	<key>PROJECT_ID</key>
	<string>oritsubushi-f7abf</string>
	<key>STORAGE_BUCKET</key>
	<string>oritsubushi-f7abf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:414012607327:ios:4d52f0e80f7e04af</string>
	<key>DATABASE_URL</key>
	<string>https://oritsubushi-f7abf.firebaseio.com</string>
</dict>
</plist>